<h3>Add a New User</h3>
<%= form_for @user, class: "form-horizontal" do |form| %>
  <%= render 'user_fields', form: form %>
  <button type="submit" class="btn btn-primary">Add New User</button>
<% end %>
